
@{
    ViewData["Title"] = "Login";
}
<div class="container align-content-between">

<div class="card" style="width: 20rem;">
    <div class="card-body">
    <form asp-action="Login" method="post">

        <div class="container text-center">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <br />

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <br />


            <br />
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me

            </label>

            <br />
            <button type="submit">Login</button>
        </div>

        <div class="container text-center" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    </div>
</div>
</div> 